@import "../../styles/colours.scss";
@import "../../styles/fonts.scss";
@import "../../styles/spacing.scss";

:host {
    button {
        @include labels-additional-info(14px);
        border: none;
        padding: $sp-xs $sp_sm;
        cursor: pointer;

        &.primary {
            background: $blue;
            color: $white;
            border-radius: 2px;
            &:hover {
                background: rgba($blue, .7);
            }
        }
        
        &.secondary {
        
        }

        &.disabled {
            background: $light-grey;
            color: $dark-grey;
            cursor: not-allowed;
            &:hover {
                background: $light-grey;
                color: $dark-grey;
            }
        }
    }
}
