<div class="investors-container">
    <div class="title">Investors</div>

    <div class="investor-search">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
        <input name="investor-search" placeholder="Search Investors" [(ngModel)]="searchTerm" [value]="searchTerm" (ngModelChange)="onSearch($event)">
    </div>
   
    <table class="investors-table" *ngIf="filteredInvestors?.length > 0">
        <th>Name</th>
        <th>Surname</th>
        <th>Date</th>
        <th>Actions</th>
        <tr *ngFor="let row of filteredInvestors" (click)="onInvestorSelected(row, $event)">
            <td>{{row?.name}}</td>
            <td>{{row?.surname}}</td>
            <td>{{row?.dateCreated | dateFormat:'dd/MM/yyyy'}}</td>
            <td class="actions">
                <fa-icon [icon]="['fas', 'pen']" ></fa-icon>
                <fa-icon [icon]="['fas', 'chart-pie']" (click)="onInvestorReportSelected(row, $event)"></fa-icon>
            </td>
        </tr>
    </table>

</div>

